<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div class="date">{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <button mat-icon-button color="accent" (click)="editDraft(comment)">
      <mat-icon aria-label="Update">update</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Delete" (click)="deleteComment(comment)">delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <ng-template [ngIf]="comment?.id != somenumber" [ngIfElse]="edit">
      <p>{{comment.body}}</p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div *ngFor="let reaction of commentLikeReactions()" matTooltip="{{reaction.user.userName}}">
      <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
    </div>
    <button mat-icon-button color="primary" (click)="likeComment()" [disabled]="dislikeIsDisabled()">
      <mat-icon [matBadge]="likesCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likesCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <div *ngFor="let reaction of commentDisLikeReactions()" matTooltip="{{reaction.user.userName}}">
      <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
    </div>
    <button mat-icon-button color="primary" (click)="dislikeComment()" [disabled]="likeIsDisabled()">
      <mat-icon aria-label="thumb_down" [matBadge]="dislikesCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikesCount() === 0">thumb_down
      </mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>



<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="comment.body" class="form-control" />
  </td>
  <td style="text-align: center;">
    <button mat-button color="primary" (click)="updatePost()" style="width: 100px;margin-left: 5px;">Сохранить</button>
    <button mat-button color="primary" (click)="cancel()" style="width: 100px;margin-left: 5px;">Отмена</button>
  </td>
</ng-template>