<mat-card [ngClass]="{'post-with-comments': showComments}">

  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <button mat-icon-button color="accent" (click)="editDraft(post)">
      <mat-icon aria-label="Update">update</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Delete" (click)="deletePost(post)">delete</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <ng-template [ngIf]="post?.id != somenumber" [ngIfElse]="edit">
      <p>{{post.body}}</p>
    </ng-template>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div *ngFor="let reaction of postLikeReactions()" matTooltip="{{reaction.user.userName}}">
      <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
    </div>
    <button mat-icon-button color="primary" (click)="likePost()" [disabled]="dislikeIsDisabled()">
      <mat-icon [matBadge]="likesCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likesCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <div *ngFor="let reaction of postDisLikeReactions()" matTooltip="{{reaction.user.userName}}">
      <img mat-card-avatar src="{{reaction.user.avatar}}" alt="Avatar">
    </div>
    <button mat-icon-button color="primary" (click)="dislikePost()" [disabled]="likeIsDisabled()">
      <mat-icon aria-label="thumb_down" [matBadge]="dislikesCount()" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="dislikesCount() === 0">thumb_down
      </mat-icon>
    </button>
    <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"></app-comment>
  </div>

</mat-card>


<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="post.body" class="form-control" />
  </td>
  <td style="text-align: center;">
    <button mat-button (click)="updatePost()" style="margin-left: 5px;">Сохранить</button>
    <button mat-button (click)="cancel()" style="margin-left: 5px;">Отмена</button>
  </td>
</ng-template>

<mat-menu #menu="matMenu" yPosition="above">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>